.alert .content {
    -fx-font-size: 12px;
}

.alert {
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-background-color: #ce0909;
    -fx-text-fill: #910f0f;
    -fx-border-color: #831717;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}
.dialog-pane{
    -fx-border-color:black;
    -fx-border-width:2px;
}


.dialog-pane > .button-bar > .container {
    -fx-background-color: #537188;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;

}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color:  #537188;
    -fx-text-fill: #CBB279;
    -fx-font-weight: bold;
    -fx-font-size:15px;
}

/**Costumization of DialogPane Header**/
.dialog-pane :hover .header-panel {

    -fx-background-color: #ee0404;
}

.alert .header {
    -fx-background-color: red;
}
