.combo-box {
    -fx-text-fill: #CBB279;
    -fx-background-color: TRANSPARENT;
    -fx-border-color: transparent transparent gray transparent;
    -fx-border-width: 0 0 2 0;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}
.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.combo-box > .arrow-button > .arrow {
    -fx-background-color: #009688;
    -fx-background-insets: 1;
    -fx-padding: 10;
}
.combo-box .list-cell {
    -fx-text-fill: #CBB279;
}


.combo-box-popup .list-view .list-cell {
    -fx-text-fill: #CBB279;
    -fx-background-color: #537188;
}