.date-picker {
    default-color: #009688;
}

.date-picker,
.date-picker:focused,
.date-picker:focused:editable {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.date-picker > .arrow-button,
.date-picker:editable > .arrow-button,
.date-picker:focused > .arrow-button,
.date-picker:editable:focused > .arrow-button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}


.date-picker > .arrow-button > .arrow {
    -fx-shape: "M320 384h128v128h-128zM512 384h128v128h-128zM704 384h128v128h-128zM128 768h128v128h-128zM320 768h128v128h-128zM512 768h128v128h-128zM320 576h128v128h-128zM512 576h128v128h-128zM704 576h128v128h-128zM128 576h128v128h-128zM832 0v64h-128v-64h-448v64h-128v-64h-128v1024h960v-1024h-128zM896 960h-832v-704h832v704z";
    -fx-background-color: default-color;
    -fx-background-insets: 1;
    -fx-padding: 10;
}

.date-picker > .text-field {
}

.text-field{
    -fx-text-fill: bisque;
    -fx-background-color: TRANSPARENT;
    -fx-border-color: transparent transparent gray transparent;
    -fx-border-width: 0 0 2 0;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}

.combo-box{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;

}

